{% extends 'Blogapp/plantilla_base.html' %}

{% block contenido_base %}

<!-- Page content-->

<div class="container">
    <div class="row">
        <!-- Blog entries-->

        <div class="col-lg-8">
            <!-- Featured blog post-->

            <div class="card mb-4" style=" width: 50vw; margin-left : 10vw;">
                <div style="text-align:center" class="card-body">
                    <h2 style="color:blue","text-align:center" class="card-title"><u> Mateo Rodriguez </u></h2>
                    <br>
                    <p style="text-align:justify" class="card-text">
                        Mi nombre es Mateo Rodriguez pero mis amigos me dicen Mate, 
                        tengo 25 años y actualmente trabajo como desarrollador para una compañia de criptomonedas.
                        Nací en Montevideo, Uruguay y lo que mas amo en el mundo es viajar.
                        Conocí paises increibles como USA, Brasil, Republica Dominicana, Cuba, España y me gustaria seguir agrandando la lista.                   
                    </p>
                </div>
            </div>

            <div class="card mb-4" style=" width: 50vw; margin-left : 10vw;">
                <div style="text-align:center" class="card-body">
                    <br>
                    <h2 style="color:blue","text-align:center" class="card-title"><u> Maca Gonzalez </u></h2>
                    <p style="text-align:justify" class="card-text">
                        Mi nombre es María Macarena Gomez Pujal, tengo 30 años y soy Ingeniera Quimica. Nací y viví todos estos años en Buenos Aires, Argentina
                        Hoy me encuentro trabajando dentro del departamento comercial de una compañía química. 
                        Siempre me interesó la programación, desde la secundaria hasta en la universidad. Hoy me decidí dar mis primeros pasos en el aprendizaje de programación ya que 
                        quiero revolucionar el modo en el que trabajamos. Me gustaría lograr conseguir trabajo remoto o freelance, para poder viajar y disfrutar la vida
                        desde otro lugar, dedicandome a lo que me gusta.
                    </p>
                </div>
            </div>

            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
    </div>
</div>

{% endblock contenido_base %}