{% extends 'Blogapp/plantilla_base.html' %}

{% block contenido_base %}

<!-- Page content-->

<div class="container">
    <div class="row">
        <!-- Blog entries-->

        <div class="col-lg-8">
            <!-- Featured blog post-->

            <div class="card mb-4" style=" width: 50vw; margin-left : 10vw;">
                <div style="text-align:center" class="card-body">
                    <h2 style="color:blue","text-align:center" class="card-title"><u> Mateo Rodriguez </u></h2>
                    <br>
                    <p style="text-align:justify" class="card-text">
                       BIOGRAFIA MATEO
                    </p>
                </div>
            </div>

            <div class="card mb-4" style=" width: 50vw; margin-left : 10vw;">
                <div style="text-align:center" class="card-body">
                    <br>
                    <h2 style="color:blue","text-align:center" class="card-title"><u> Maca Gonzalez </u></h2>
                    <p style="text-align:justify" class="card-text">
                       BIOGRAFIA MACA
                    </p>
                </div>
            </div>

            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
    </div>
</div>

{% endblock contenido_base %}