{% extends 'BlogApp/plantilla_base.html' %} 
  {% block contenido_base %}

    <div class="container" style=" width: 50vw; margin-left : 10vw;">

      {% if user.is_authenticated%}
          <div>
            <a class="btn btn-primary" href="{% url 'New'  %}"> <b> Crear Articulo </b></a>
            <br />
            <br />
          </div>
      {% endif %}

      {% if not object_list %}
          <div class="container" style=" width: 50vw; margin-left : 28vw;">
            <h3> No hay entradas aún! </h3>
          </div>
      {% endif %}

        <div class="card mb-4" style=" width: 50vw; margin-left :10vw;">
          {% for articulo in object_list %}
        
              <br>
              <div class="small text-muted">{{articulo.fecha}}</div>
              <br>
              {% comment %} <a>{{articulo.imagen}}</a> {% endcomment %}
              <h3>{{articulo.titulo}}</h3>
              <h6>{{articulo.autor}} </h6>
              <p class="card-text">{{articulo.cuerpo|slice:":200"|safe}}</p>
              <a class="btn btn-primary" href="{% url 'Detail' articulo.id %}">Leer mas →</a>
              <br>
              <br>
              {% if user.is_authenticated%}
                <a class="btn btn-primary" href="{% url 'Edit' articulo.id %}">Editar →</a>
                <br>
                <br>
                <a class="btn btn-primary" href="{% url 'Delete' articulo.id %}">Eliminar  →</a>
                <br>
                <br>
              {% endif %}
              <br>

          {% endfor %} 
      </div>
  {% endblock contenido_base %}


